<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="sourceLanguage">Source Language:</label>
      <select id="sourceLanguage" name="sourceLanguage" [(ngModel)]="formData.sourceLanguage" required>
        <option *ngFor="let lang of languageOptions" [value]="lang.code">{{ lang.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="destinyLanguage">Target Language:</label>
      <select id="destinyLanguage" name="destinyLanguage" (change)="onDestinySelect()" [(ngModel)]="formData.destinyLanguage" required>
        <option *ngFor="let lang of languageOptions" [value]="lang.code">{{ lang.name }}</option>

      </select>
    </div>

    <div class="form-group" *ngIf="accentsLaguages.includes(formData.destinyLanguage)">
      <label for="destinyAccent">Target Accent:</label>
      <select id="destinyAccent" name="destinyAccent" [(ngModel)]="formData.destinyAccent">
        <option *ngFor="let lang of getAccentsForLanguage(formData.destinyLanguage)" [value]="lang.code">{{ lang.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sourceMedia">Source Media (mp3 or wav):</label>
      <input type="file" id="sourceMedia" name="sourceMedia" accept=".mp3, .wav" (change)="onChange($event)" required>
    </div>

    <button type="submit">Submit</button>
  </form>
  <br><br>
  <div *ngIf="audioResult">
    <br>Result:<br>
    <audio controls *ngIf="audioResult">
      <source id="audio" [src]="audioResult" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>